/* general */

body{
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	background-color: black;

}

/* first row and i call it first*/
.d{
	width: 4%;
}
.mouse{
	width: 2%;
}
h1{
	padding-top: 200px;
}
.intro{
	font-size: 15px;
    margin-top: -280px;

}

.first{
	color: white;
	text-align: center;
	background-image: url(/Users/semasuka/Documents/e2/css/h_img.jpg );
	background-size: cover;
	height: 70%;
}


/* second row and i call it second*/

.second{
	background-color: #f1fcf7;
	padding: 5%;
}
/* third row and i call it third*/

.third{
	background-image: url(/Users/semasuka/Documents/e2/css/s_image.jpg );
    background-size: cover;
    color: white;
	text-align: center;
	padding: 5%;
    

}
.third p{
	font-size: xx-small;
}

/* fourth row and i call it fourth*/
.fourth{
	color: black;
	background-color: #f1fcf7;
	padding: 5%;
}
