.row{
	color: white;
	padding:5%;
}


h1{
    text-align: center;
    margin-top: -415px;
    font-size: xx-large;
}
.intro{
    margin-top: 370px;
    text-align: center;
    font-size: 10px;
}
.d{
	width: 4%;
}
.mouse{
	width: 2%;
}